body {
    background-color: #fef7e7
}

.add-book-form {
    font-size: small;
    font-family: sans-serif;
    font-weight: bold;
    border: 6px solid rgb(31, 37, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#show-books {
    display: block;
    margin: 25px auto;
}

form>input {
    width: 20em;
    height: 2em;
    border-radius: 10px;
    border: 1px solid black;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    border-radius: 10px;
    border: none;
}

.bookcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: large;
}

.book-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: large;
}